<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to my application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body>
<div class="container-fluid d-flex h-100">
<div class="col-md-12 row align-self-center w-100 text-center d-flex justify-content-center mb-5">
    <div class="col-md-6 h1"><a href="/map?role=user">Sign as User</a></div>
    <div class="col-md-6 h1"><a href="/map?role=admin">Sign as Admin</a></div>
</div>
</div>
</body>
</html>